alabaster==0.7.12
anytree==2.4.3
appdirs==1.4.3
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
bokeh==1.0.3
cached-property==1.5.1
certifi==2018.11.29
cffi==1.11.5
git+https://github.com/inducer/cgen@361a4c8590910c989ea1cea90d87cd53a393829b
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
codecov==2.0.15
git+https://github.com/inducer/codepy@10a014fdb89bdf7542cd144441676436809e3d90
coverage==4.5.2
cryptography==2.4.2
cycler==0.10.0
Cython==0.29.2
cytoolz==0.9.0.1
dask==0.18.1
decorator==4.3.0
distributed==1.22.0
docutils==0.14
fastcache==1.0.2
flake8==3.6.0
frozendict==1.2
gmpy2==2.0.8
heapdict==1.0.0
idna==2.8
imageio==2.4.1
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
locket==0.2.0
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
more-itertools==5.0.0
mpmath==1.1.0
msgpack==0.5.6
multidict==4.5.2
nbformat==4.4.0
nbval==0.9.1
networkx==2.2
numpy==1.14.0
olefile==0.46
packaging==18.0
pandas==0.23.4
parso==0.3.1
partd==0.3.9
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.0
prompt-toolkit==2.0.7
psutil==5.4.8
ptyprocess==0.6.0
py==1.7.0
py-cpuinfo==4.0.0
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
Pygments==2.3.1
pyOpenSSL==18.0.0
pyparsing==2.3.0
git+https://github.com/opesci/pyrevolve@7edb358fd4006e3948a077573c057c5edb22436d
PySocks==1.6.8
pytest==4.1.0
pytest-cov==2.6.1
python-dateutil==2.7.5
pytools==2018.5.2
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
requests==2.21.0
scikit-image==0.14.1
scipy==1.1.0
six==1.12.0
snowballstemmer==1.2.1
sortedcontainers==2.1.0
Sphinx==1.8.2
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
sympy==1.2
tblib==1.3.2
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
zict==0.1.3
