pip>=9.0.1
numpy>1.16
sympy>=1.9,<1.12
scipy
flake8>=2.1.0
nbval
cached-property
psutil>=5.1.0,<6.0
py-cpuinfo<10
cgen>=2020.1
codepy>=2019.1
click<9.0
codecov
multidict
anytree>=2.4.3,<=2.8
pyrevolve>=2.1.3
distributed<2023.3
pytest>=3.6,<8.0
pytest-runner
pytest-cov
