numpy>=1.14
sympy>=1.4
scipy
pytest-runner
flake8>=2.1.0
jedi
nbval
cached-property
psutil>=5.1.0
py-cpuinfo
git+https://github.com/inducer/cgen
git+https://github.com/inducer/codepy
click
codecov
pytest-cov
multidict
frozendict
anytree>=2.4.3
pyzfp>=0.2
pyrevolve>=2.1.3
distributed>=1.27
