name: Cancel

on: [push]

jobs:
  cancel:
    name: 'Cancel Previous Runs'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.4.0
        with:
          # Ids to cancel core/mpi/gpu/examples/tutorials
          # https://api.github.com/repos/devitocodes/devito/actions/workflows
          workflow_id: 167582, 203470, 203471, 434862, 501517
          access_token: ${{ github.token }}