name: CI-mpi

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-mpi-basic:
    name: pytest-mpi
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.9', '3.11']

    env:
      DEVITO_LANGUAGE: "openmp"
      DEVITO_ARCH: "gcc-9"
      OMP_NUM_THREADS: "1"
      CC: "gcc-9"
      CXX: "g++-9"
      RDMAV_FORK_SAFE: 1

    steps:
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Checkout devito
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt install mpich -y
        pip3 install --upgrade pip
        pip3 install -e .[extras,mpi,tests]

    - name: Test with pytest
      run: |
        python3 scripts/clear_devito_cache.py
        python3 -m pytest --cov --cov-config=.coveragerc --cov-report=xml -m parallel tests/

    - name: Test examples with MPI
      run: |
        python3 scripts/clear_devito_cache.py
        DEVITO_MPI=1 mpirun -n 2 python3 -m pytest examples/seismic/acoustic
        DEVITO_MPI=1 mpirun -n 2 python3 -m pytest examples/seismic/tti

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        name: pytest-mpi

  test-mpi-docker:
      name: pytest-mpi
      runs-on: ${{ matrix.os }}
      strategy:
        matrix:
          name: [gcc, icx]
          include:
            - name: gcc
              arch: gcc
              os: ubuntu-latest
              mpiflag: ""
            - name: icx
              arch: icx
              os: ubuntu-latest
              # Need safe math for icx due to inaccuracy with mpi+sinc interpolation
              mpiflag: "-e DEVITO_SAFE_MATH=1"

      steps:
      - name: Checkout devito
        uses: actions/checkout@v4

      - name: Build docker image
        run: |
          docker build . --file docker/Dockerfile.devito --tag devito_img --build-arg base=devitocodes/bases:cpu-${{ matrix.arch }}

      - name: Test with pytest
        run: |
          docker run --init -t --rm -e CODECOV_TOKEN=${{ secrets.CODECOV_TOKEN }} -e OMP_NUM_THREADS=1 --name testrun devito_img pytest tests/test_mpi.py

      - name: Test examples with MPI
        run: |
          docker run --init -t --rm ${{ matrix.mpiflag }} -e DEVITO_MPI=1 -e OMP_NUM_THREADS=1 --name examplerun devito_img mpiexec -n 2 pytest examples/seismic/acoustic
          docker run --init -t --rm -e DEVITO_MPI=1 -e OMP_NUM_THREADS=1 --name examplerun devito_img mpiexec -n 2 pytest examples/seismic/tti
